@media (max-width: 900px) {
  .hero {
    background-size: 640px 610px;
    background-position: left calc(50% + 270px) bottom;
  }
  .hero__content {
    padding-top: 80px;
  }
  
 /* ---------- ARTICLE ---------- */

 .article {
  padding-top: 60px;
  padding-bottom: 20px;
}

.article .article__content {
  width: 100%;
  margin-bottom: 20px;
}

.article .col-4 {
  display: none;
}













}

@media (max-width: 850px) {
  .hero {
    background-size: 630px 600px;
    background-position: left calc(50% + 245px) bottom;
  }
  .hero__title {
    font-size: 90px;
  }
}

@media (max-width: 800px) {
  .hero {
    background-size: 630px 600px;
    background-position: left calc(50% + 245px) bottom;
  }
  .hero__text {
    font-size: 22px;
  }
  .hero__title {
    font-size: 85px;
  }
}

@media (max-width: 768px) {
  .hero {
    background-size: 600px 600px;
    background-position: left calc(50% + 265px) bottom;
  }
  .hero__content {
    padding-top: 90px;
  }
  .hero__text {
    font-size: 22px;
  }
  .hero__title {
    font-size: 85px;
  }
  .social .col-4{
    display: none;
  }
}

@media (max-width: 720px) {
  /* header */
  html {
    padding-top: 72px;
  }
  .header__btn {
    display: none;
  }
  .header__nav {
    margin-right: 20px;
    margin-left: auto;
  }
  /* Hero */
  .hero {
    min-height: 515px;
    background-size: 549px 524px;
    background-position: left calc(50% + 145px) bottom;
  }
  .hero__content {
    padding-top: 50px;
    max-width: 384px;
  }
  .hero__text {
    font-size: 20px;
    line-height: 24px;
  }
  .hero__title {
    font-size: 64px;
    line-height: 63px;
    margin-bottom: 37px;
  }
  .hero .btn {
    font-size: 16px;
    line-height: 24px;
    padding: 13px 34px;
  }
  .nav__item:first-child {
    display: block;
  }
  .nav__item:last-child {
    display: none;
  }
  .article {
    padding-top: 60px;
    padding-bottom: 20px;
    font-family: "HelveticaNeueCyr";
  }

  .article .article__content {
    display: flex;
    width: 100%;
    margin-bottom: 20px;
    justify-content: space-between;
  }
  .article__content-text {
    max-width: 352px;
    width: 100%;
    display: flex;
    flex-direction: column;
  }
  .article__data {
    margin-top: auto;
  }
  .article__content-text p {
    display: none;
  }

  .article .article__content img {
    order: 2;
    max-width: 200px;
    height: 120px;
    object-fit: cover;
    margin-bottom: 0;
    margin-left: 10px;
  }

  .article .col-4 {
    display: none;
  }
  .article__date {
    font-size: 16px;
  }
 
  .social__youtube{
    width: 100%;
    height: 350px;
  }
}

@media (max-width: 700px) {
  .hero {
    min-height: 515px;
    background-size: 529px 504px;
    background-position: left calc(50% + 184px) bottom;
  }
}

@media (max-width: 640px) {
  .container {
    padding-left: 12px;
    padding-right: 14px;
  }
  .hero {
    background-size: 509px 484px;
  }
  .hero__text {
    font-size: 18px;
  }
  .hero__title {
    font-size: 60px;
    margin-bottom: 30px;
  }

  .nav .nav__link {
    font-size: 12px;
  }
  .nav .nav__list .nav__item:nth-child(2) {
    margin-right: 0;
  }
  .header__logo-link img {
    width: 92px;
  }
  .header__logo-link {
    margin-right: 10px;
  }
  .header__lang-wrapper {
    margin-right: 0;
  }
  .lang__selacted {
    font-size: 12px !important;
    font-size: 12px;
    font-weight: 600;
    line-height: 24px;
    letter-spacing: 0em;
  }

  .hero{
    min-height: 360px;
    background-size: 354px ;
    background-position: left calc(50% + 104px) bottom;
  }

  .hero__text{
    font-size: 13px;
  font-weight: 400;
  line-height: 15px;
  letter-spacing: 0em;
  text-align: left;
  margin-bottom: 10px;
  max-width: 239px;

  }
  .hero__title{
  font-family: Georgia;
  font-size: 40px;
  font-weight: 400;
  line-height: 40px;
  letter-spacing: 0em;
  text-align: left;
  margin-bottom: 20px;
  
  }
  .hero .btn{
    padding: 10px 20px;
    font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 24px;

  }
}

@media(max-width: 520px){
  .article .article__content img {
    order: 2;
    max-width: 118px;
    height: 90px;
    object-fit: cover;
    margin-bottom: 0;
  }
  .social__youtube{
    width: 100%;
    height: 200px;
  }

  .article__title {
    font-size: 16px !important;
    font-weight: 700;
    line-height: 16px;
    letter-spacing: 0em;
    text-align: left;
  }

  .article__date {
    font-size: 14px;
  }

  .article .article__content-text {
    max-width: 204px;
  }
}

@media(max-width:780px){
  .news-block__content{
      display: flex;
      flex-direction: column;
  }
  .news-block__content-text{
      display: none;
  }
  .news-block__content-title a{
      font-family: HelveticaNeueCyr;
  font-size: 24px;
  font-weight: 700;
  line-height: 24px;
  letter-spacing: 0em;

  }
  .news-block__img{
      max-width: 200px;
      width: 100%;
      height: 120px;
      object-fit: cover;
  }
  .news-block__content__data{
      margin-top: auto;
      font-family: HelveticaNeueCyr;
      font-size: 16px;
      font-weight: 550;
      line-height: 19px;
      letter-spacing: 0em;

  }
}

@media(max-width:580px){
  .news-block__content-title a{
      font-family: HelveticaNeueCyr;
      font-size: 16px ;
      font-weight: 700;
      line-height: 16px;
      letter-spacing: 0em;
      text-align: left;


  }
  .article__img{
    width: 118px !important;
    height: 90px !important;
  }
  .news-block__img{
      width: 118px;
      height: 90px;
  }
  .news-block__content__data{
      font-family: HelveticaNeueCyr;
      font-size: 14px;
      font-weight: 550;
      line-height: 17px;
      letter-spacing: 0em;
  }
  .article__data{
    font-size: 14px;
  }
  .news-block__content__data{
    color: red;
    font-family: HelveticaNeueCyr;
  font-size: 14px;
  font-weight: 550;
  line-height: 17px;
  letter-spacing: 0em;

  }
  .article__date{
    color: red;
    font-family: HelveticaNeueCyr;
  font-size: 14px;
  font-weight: 550;
  line-height: 17px;
  letter-spacing: 0em;
  }
}


@media(max-width: 880px){
  .contact__text {
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    font-style: normal;
    margin-bottom: 20px;
    font-family: "Inter";
  }
  .contact__title {
    font-size: 25px;
    font-weight: 700;
    line-height: 120%;
    margin-bottom: 10px;
  }
  .contact__input {
    font-size: 14px;
    min-width: 244px;
    font-weight: 500;
    line-height: 20px;
    padding: 13px 20px;
    font-family: "Inter";
  }

  .footer-col:last-child{
    border-top: 1px solid #222;
    padding-top: 20px;
  }
}

@media(max-width: 880px){
  .contact__text {
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    font-style: normal;
    margin-bottom: 20px;
    font-family: "Inter";
  }
  .contact__title {
    font-size: 25px;
    font-weight: 700;
    line-height: 120%;
    margin-bottom: 10px;
  }
  .contact__input {
    font-size: 14px;
    min-width: 184px;
    font-weight: 500;
    line-height: 20px;
    padding: 13px 20px;
    font-family: "Inter";
  }
}