/* ---------- CUSTOM PROPERTIES ---------- */

:root {
  --white: #fff;
  --black: #000;
  --main-color: #ffc017;
  --about-btn-bg: #d9d9d9;
  --contact-bg: #ececec;
}

/* ---------- FONTS ---------- */

@font-face {
  font-family: "Graphik";
  src: url("../font/Graphik-Medium.woff2") format("woff2"),
    url("../font/Graphik-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "HelveticaNeueCyr";
  src: url("../font/HelveticaNeueCyr-Roman.woff2") format("woff2"),
    url("../font/HelveticaNeueCyr-Roman.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "HelveticaNeueCyr";
  src: url("../font/HelveticaNeueCyr-Medium.woff2") format("woff2"),
    url("../font/HelveticaNeueCyr-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Inter";
  src: url("../font/Inter-Regular.woff2") format("woff2"),
    url("../font/Inter-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Georgia";
  src: url("../font/Georgia.woff2") format("woff2"),
    url("../font/Georgia.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "HelveticaNeueCyr";
  src: url("../font/HelveticaNeueCyr-Light.woff2") format("woff2"),
    url("../font/HelveticaNeueCyr-Light.woff") format("woff");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Inter";
  src: url("../font/Inter-SemiBold.woff2") format("woff2"),
    url("../font/Inter-SemiBold.woff") format("woff");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Inter";
  src: url("../font/Inter-Medium.woff2") format("woff2"),
    url("../font/Inter-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Georgia";
  src: url("../font/Georgia-Bold.woff2") format("woff2"),
    url("../font/Georgia-Bold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "HelveticaNeueCyr";
  src: url("../font/HelveticaNeueCyr-Bold.woff2") format("woff2"),
    url("../font/HelveticaNeueCyr-Bold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

/* ---------- GLOBAL ---------- */

html {
  height: 100%;
  box-sizing: border-box;
  scroll-behavior: smooth;
  padding-top: 88px;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

*:focus {
  outline-offset: 3px;
  outline: 2px dashed var(--main-color);
}

body {
  overflow-x: hidden;
  margin: 0;
  padding: 0;
  height: 100%;
  display: flex;
  color: var(--black);
  flex-direction: column;
  background-color: var(--white);
  font-family: "Georgia", "Arial", sans-serif;
}

a {
  text-decoration: none;
  transition: color 0.3s ease, opacity 0.3s ease, background-color 0.3s ease;
}

/* a:hover {
  opacity: 0.8;
} */

a:active {
  /* opacity: 0.6; */
  transform: translateY(2px);
}

ul {
  margin: 0;
  padding: 0;
}

h1,
h2,
h3,
h4,
p {
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
}

img {
  display: block;
}

a,
span,
button {
  display: inline-block;
}

button {
  border: none;
  cursor: pointer;
  background: none;
  text-align: center;
}

/* ---------- CONTAINER ---------- */

.container {
  width: 100%;
  margin-left: auto;
  max-width: 1020px;
  margin-right: auto;
  padding-left: 20px;
  padding-right: 20px;
}

/* ---------- ELEMENT HIDER ---------- */

.visually-hidden {
  border: 0;
  padding: 0;
  width: 1px;
  height: 1px;
  margin: -1px;
  overflow: hidden;
  position: absolute;
  clip: rect(0 0 0 0);
}

/* ---------- BTNS ---------- */

.btn {
  font-size: 14px;
  font-weight: 550;
  padding: 12px 14px;
  text-align: center;
  color: var(--white);
  background-color: var(--black);
  font-family: "HelveticaNeueCyr";
}

.tag-btn {
  font-size: 16px;
  font-weight: 700;
  padding: 5px 20px;
  line-height: 24px;
  font-style: normal;
  color: var(--black);
  font-family: "HelveticaNeueCyr";
  background-color: var(--about-btn-bg);
}

/* ---------- MAIN CONTENT ---------- */

.main-content {
  flex-grow: 1;
}

/* ---------- HEADER ---------- */

.header {
  padding: 24px 0;
  background-color: var(--main-color);
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 999;
}

.header a {
  outline-color: #000;
}

.header__container {
  display: flex;
  align-items: center;
}

.header__logo-link {
  display: flex;
  margin-right: 40px;
}

.logo__img {
  width: 134px;
  height: 24px;
}

.header__nav {
  margin-right: auto;
}

.nav__list {
  display: flex;
  align-items: center;
}

.nav__item:not(:last-child) {
  margin-right: 20px;
}

.nav__item:first-child {
  display: none;
}

.nav__link {
  font-size: 16px;
  font-weight: 550;
  line-height: 24px;
  color: var(--black);
  font-family: "HelveticaNeueCyr";
}

/* ----- LANGUAGE DROPDOWN ----- */

.header__lang-wrapper {
  margin-right: 26px;
}

.lang {
  font-size: 14px;
  min-width: 72px;
  font-weight: 550;
  line-height: 24px;
  position: relative;
  font-family: "HelveticaNeueCyr";
}

.js-lang-closer {
  content: "";
  top: 0;
  left: 0;
  z-index: 1;
  width: 100%;
  height: 100%;
  display: none;
  position: fixed;
  background-color: transparent;
}

.js-lang-closer.open {
  display: block;
}

.lang__selacted {
  z-index: 10;
  font-size: 16px;
  position: relative;
  color: var(--black);
}

.lang__selacted::after {
  content: "";
  width: 9px;
  height: 9px;
  margin-left: 7px;
  margin-right: 1px;
  display: inline-block;
  transition: transform 0.3s ease;
  border-right: 3px solid var(--black);
  border-bottom: 3px solid var(--black);
  transform: translateY(-2px) rotate(45deg);
}

.lang__selacted.open::after {
  transform: translateY(1px) rotate(226deg);
}

.lang__box {
  top: 180%;
  left: -19px;
  z-index: 10;
  width: 108px;
  display: none;
  text-align: center;
  padding: 10px 20px;
  position: absolute;
  line-height: normal;
  background-color: var(--white);
  box-shadow: rgb(100 100 111 / 20%) 0px 7px 29px 0px;
}

.lang__box::before {
  content: "";
  top: 0px;
  left: 50%;
  width: 20px;
  z-index: -1;
  height: 20px;
  position: absolute;
  display: inline-block;
  border-top-left-radius: 100%;
  background-color: var(--white);
  transform: rotate(225deg) translateX(50%);
}

.lang__box.open {
  display: block;
}

.lang__uz {
  margin: 5px 0;
  color: var(--black);
}

.lang__en {
  margin: 5px 0;
  color: var(--black);
}

/* ---------- HERO ---------- */

.hero {
  min-height: 678px;
  background-repeat: no-repeat;
  background-color: var(--main-color);
  background-image: url("../img/hero-bg.png");
  background-position: left calc(50% + 360px) bottom;
}

.hero__content {
  max-width: 571px;
  padding-top: 123px;
}

.hero__text {
  font-size: 24px;
  max-width: 458px;
  font-weight: 400;
  line-height: 30px;
  margin-bottom: 10px;
  font-family: "HelveticaNeueCyr";
}

.hero__title {
  font-size: 96px;
  font-weight: 400;
  line-height: 90px;
  margin-bottom: 31px;
  text-transform: uppercase;
}

.hero .btn {
  font-size: 20px;
  font-weight: 700;
  line-height: 24px;
  padding: 18px 50px;
  --main-color: var(--black);
}

/* ---------- ARTICLE ---------- */

.article {
  padding-top: 60px;
  padding-bottom: 20px;
}
.article__content{
  border: 1px solid red;
  position: relative;
  transition: color .3s ease  , opacity .3s ease;
}

.article__content:hover h3{
  color: #222;
  opacity: .7;
}
.article__content:hover .article__title-link{

}
.article__img {
  width: 100%;
  max-height: 300px;
  aspect-ratio: 1/1;
  object-fit: cover;
  object-position: top 30px;
  margin-bottom: 20px;
}

.article__title {
  font-size: 20px;
  font-weight: 700;
  line-height: 24px;
  margin-bottom: 7px;
  text-transform: capitalize;
}

.article__title-link{
  color: #000;
}

.article__title-link::after{
  content: "";
  position: absolute;
  top: 0;
  left:0 ;
  right: 0;
  width: 100%;
  height: 100%;
}

.article__text {
  font-size: 14px;
  font-weight: 400;
  line-height: 16px;
  font-style: normal;
  margin-bottom: 10px;
  font-family: "HelveticaNeueCyr";
}

.article__data {
  display: flex;
  align-items: center;
}

.article__about-btn {
  margin-right: 12px;
}

.article__date {
  font-size: 13px;
  font-weight: 500;
  line-height: 120%;
  font-style: normal;
  font-family: "Graphik";
  text-transform: uppercase;
}

.side-bar__main-title {
  font-size: 20px;
  font-weight: 700;
  line-height: 24px;
  margin-bottom: 20px;
  font-family: "HelveticaNeueCyr";
}

.side-bar__articles-list {
  margin-bottom: 30px;
  border: 1px solid red;
}

.side-bar__article-item:not(:last-child) {
  margin-bottom: 10px;
}

.side-bar__article-item{
  border: 2px solid red ;
  position: relative;
}



.side-bar__article-title a{
  font-size: 16px;
  font-weight: 700;
  line-height: 20px;
  margin-bottom: 10px;
  color: #000;
}
.side-bar__article-title a::after{
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 100%;
}

.side-bar__article-item:hover a{
  color:#222 ; 
  opacity: .8;
}


.side-bar__article-date {
  font-size: 14px;
  font-weight: 550;
  line-height: 120%;
  font-style: normal;
  font-family: "HelveticaNeueCyr";
  text-transform: uppercase;
}

.search__title {
  font-size: 20px;
  font-weight: 700;
  line-height: 24px;
  margin-bottom: 20px;
  margin-bottom: 22px;
  font-family: "HelveticaNeueCyr";
}

.search__tag-list {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}
.search__tag-item:not(:last-child) {
  margin-right: 20px;
}
.search .search__tag-btn {
  padding: 5px 10px;
}

/* ---------- SOCIAL ---------- */

.social {
  margin-bottom: 55px;
}

.social__youtube {
  width: 100%;
  height: 368px;
  border: 0;
}

.social__links {
  padding-top: 20px;
}

.social__links-title {
  font-size: 20px;
  font-weight: 700;
  line-height: 24px;
  margin-bottom: 20px;
  font-family: "HelveticaNeueCyr";
}

.social__links-item:not(:last-child) {
  margin-bottom: 10px;
}

.social__links-link {
  display: flex;
  font-size: 20px;
  font-weight: 700;
  line-height: 24px;
  padding: 14px 21px;
  color: var(--white);
  align-items: center;
  background-color: var(--black);
  font-family: "HelveticaNeueCyr";
  border: 2px solid transparent;
}

.social__links-link:hover {
  color: var(--black);
  border-color: var(--black);
  background-color: var(--white);
}

.social__links-link:hover .social__links-link-img {
  filter: brightness(0);
}

.social__links-link-img {
  margin-right: 20px;
}

.facebook {
  width: 30px;
  height: 30px;
}

.instagram {
  width: 28px;
  height: 28px;
}

.telegram {
  width: 28px;
  height: 28px;
}

.youtube {
  width: 28px;
  height: 22px;
}

/* ---------- NEWS BLOCK ---------- */
.news-block{
  padding-bottom: 40px;
}
.news-block__content__wrapper{
  margin-bottom: 20px;
}

.news-block__content__wrapper {
  display: flex;
  justify-content: space-between;
  position: relative;
}
.news-block__content {
  max-width: 636px;
}



.news-block__content-title {
  margin-bottom: 10px;
  font-family: HelveticaNeueCyr;
  font-size: 18px;
  font-weight: 400;
  line-height: 27px;
  letter-spacing: 0em;
  text-align: left;

}
.news-block__content-text {
  margin-bottom: 10px;
}
.news-block__content__data {
    font-family: Graphik;
  font-size: 13px;
  font-weight: 500;
  line-height: 16px;
  letter-spacing: 0em;

}
.news-block__content__date {
}
.news-block__img {
  flex-shrink: 0;
  max-width: 250px;
  height: 100%;
  margin-left: 10px;
}
.news-block__content-title-link{
  font-family: Georgia;
  font-size: 22px;
  font-weight: 700;
  line-height: 29px;
  letter-spacing: 0em;
  text-align: left;
  color: #000;

}
.news-block__content-title-link::after{
  content: "";
  position: absolute;
  top: 0;
  left:0 ;
  right: 0;
  width: 100%;
  height: 100%;
}


.news-block__content-title-link::after{
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;

}

.news-block__heading {
  display: flex;
  justify-content: space-between;
}
.news-block__content__wrapper:hover .news-block__content-title-link {
  color: #222;
  opacity: .8;
}

/* ---------- CONTACT ---------- */

.contact {
  padding: 60px 0;
  background-color: var(--contact-bg);
}

.contact__title {
  font-size: 28px;
  font-weight: 700;
  line-height: 130%;
  margin-bottom: 10px;
}

.contact__text {
  font-size: 18px;
  font-weight: 400;
  line-height: 28px;
  font-style: normal;
  margin-bottom: 32px;
  font-family: "Inter";
}

.contact__form {
  display: flex;
  align-items: center;
  margin-bottom: 30px;
}

.contact__input {
  font-size: 14px;
  min-width: 264px;
  font-weight: 500;
  line-height: 20px;
  padding: 13px 20px;
  font-family: "Inter";
}




/* ---------- AUTOFILL STYLES ---------- */

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
  box-shadow: 0 0 0px 1000px rgb(255, 255, 255) inset;
}

.contact__submit {
  font-size: 16px;
  font-weight: 600;
  line-height: 20px;
  padding: 15px 33px;
  color: var(--white);
  font-family: "Inter";
  background-color: var(--black);
}

.contact__submit:active {
  transform: translateY(2px);
}

/* ---------- FOOTER ---------- */

.footer {
  padding: 41px 0;
}

.footer__copyright {
  font-size: 12px;
  font-weight: 400;
  line-height: 18px;
  text-align: center;
  font-family: "Inter";
}
.footer .row{
  display: flex;
  justify-content: space-between;
}

.footer{
	background-color: #24262b;
    padding: 60px 0 0px;
}
.footer-col{
   width: 46%;
   padding: 0 15px;
}
.footer-col h4{
	font-size: 18px;
	color: #ffffff;
	text-transform: capitalize;
	margin-bottom: 35px;
	font-weight: 500;
	position: relative;
}
.footer-col h4::before{
	content: '';
	position: absolute;
	left:0;
	bottom: -10px;
	background-color: #e91e63;
	height: 2px;
	box-sizing: border-box;
	width: 50px;
}
.footer-col ul li:not(:last-child){
	margin-bottom: 10px;
}
.footer-col ul li a{
	font-size: 16px;
	text-transform: capitalize;
	color: #ffffff;
	text-decoration: none;
	font-weight: 300;
	color: #bbbbbb;
	display: block;
	transition: all 0.3s ease;
}
.footer-col ul li a:hover{
	color: #ffffff;
	padding-left: 8px;
}
.footer-col .social-links a{
	display: inline-block;
	height: 40px;
	width: 40px;
	background-color: rgba(255,255,255,0.2);
	margin:0 10px 10px 0;
	text-align: center;
	line-height: 40px;
	border-radius: 50%;
	color: #ffffff;
	transition: all 0.5s ease;
}
.footer-col .social-links a:hover{
	color: #24262b;
	background-color: #ffffff;
}

.social-links{
  margin-top: 12px;
}


.footer{
  color: #fff;
}

.footer__title{
  font-family: Georgia;
  font-size: 48px;
  font-weight: 400;
  line-height: 55px;
  letter-spacing: 0em;
  text-align: left;
  max-width: 300px;
  margin-bottom: 10px;
}


.footer__text{
  font-family: HelveticaNeueCyr;
  font-size: 24px;
  font-weight: 400;
  line-height: 30px;
  letter-spacing: 0em;
  text-align: left;

}


/*responsive*/
@media(max-width: 880px){
  .footer-col{
    width: 100%;
    margin-bottom: 30px;
}
.footer__title{
  font-family: Georgia;
  font-size: 42px;
  font-weight: 400;
  line-height: 48px;
  letter-spacing: 0em;
  text-align: left;
  max-width: 250px;
  margin-bottom: 10px;
}
.footer__text{
  font-family: HelveticaNeueCyr;
  font-size: 20px;
  font-weight: 400;
  line-height: 26px;
  letter-spacing: 0em;
  text-align: left;

}

}
@media(max-width: 574px){
  .footer-col{
    width: 100%;
}
}



/* about  */

.about__hero {
  border: 1px solid red;
  padding-top: 60px;
  padding-bottom: 60px;
}
.container {
}
.about__hero__container {
  display: flex;
  gap: 40px;
}
.about__hero__img {
}
.about__hero__info {
}
.about__hero__info-title {
    font-family: HelveticaNeueCyr;
  font-size: 48px;
  font-weight: 550;
  line-height: 50px;
  letter-spacing: 0em;
  text-align: left;
  margin-bottom: 20px;

}
.yellow {
  background-color: #ffc017;
}
.about__hero__info-text {
  font-family: HelveticaNeueCyr;
  font-size: 32px;
  font-weight: 300;
  line-height: 35px;
  letter-spacing: 0em;
  text-align: left;

}
.about__infos{
  padding-bottom: 20px;

}

.about__info{
font-family: HelveticaNeueCyr;
font-size: 24px;
font-weight: 300;
line-height: 30px;
letter-spacing: 0em;
text-align: left;

}

.about__info:not(:last-child){
  margin-bottom: 20px;
}

.about__info strong{
font-weight: 700;
  
}

.about__info-strong-text{
  font-family: HelveticaNeueCyr;
  font-size: 32px;
  font-weight: 700;
  line-height: 35px;
  letter-spacing: 0em;
  text-align: left;
  margin-bottom: 60px;

}

.about__activity-images{
  display: flex;
  flex-wrap: wrap;
  gap: 25px;
  align-items: center;
}

.about__activity-images a{
  display: block;
  transition: opacity .3 ease;
}
.about__activity-images a:hover{
  opacity: .8;
}

.about__activity__title{
  font-family: HelveticaNeueCyr;
  font-size: 36px;
  font-weight: 550;
  line-height: 36px;
  letter-spacing: 0em;
  text-align: left;
  margin-bottom: 20px;

}

.about__activity{
  margin-bottom: 60px;
}